{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="shadow p-4 mb-5 bg-body rounded" style="margin-top:1.5rem;">
        <center><h1>Change Password</h1></center><hr>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="showPassword()">
                  <label class="form-check-label" for="flexCheckDefault">
                    Show Password
                  </label>
                </div><br>
                <button class="btn btn-success">Change</button>
            </form>
        </div></div>
    <script>
        function showPassword(){
            var p1 = document.getElementById('id_old_password');
            var p2 = document.getElementById('id_new_password1');
            var p3 = document.getElementById('id_new_password2');
            if (p1.type === 'password' && p2.type === 'password' && p3.type === 'password'){
                p1.type = 'text';
                p2.type = 'text';
                p3.type = 'text';
            }else{
                p1.type = 'password';
                p2.type = 'password';
                p3.type = 'password';
            }
        }
    </script>
{% endblock %}